#main03_more_btn {
  width: 100%;
}
#main03_more_btn:hover {
  padding-right: 1.25rem;
}
#main03_more_btn .elementor-button-content-wrapper {
  justify-content: space-between;
}
#main03_more_btn .elementor-button-icon svg {
  width: 0.875rem;
}
#main03_more_btn .elementor-button-icon svg .cls-1 {
  fill: var(--e-global-color-aff6c98);
}

.page-id-1321 .main03_header .logo {
  filter: brightness(0) invert(1);
}
.page-id-1321 .main03_header .nav_container {
  background-color: #fff !important;
}
.page-id-1321 .main03_header .nav_container .contact a {
  color: var(--e-global-color-aff6c98);
}
.page-id-1321 .main03_header .nav_container .language_btn .language_icon {
  filter: brightness(0) invert(1);
}
.page-id-1321 .main03_header .nav_container .hamburger_btn .bar {
  background-color: var(--e-global-color-aff6c98);
}

.main03_header.elementor-sticky--effects .logo {
  filter: none;
}
.main03_header.elementor-sticky--effects .nav_container {
  background-color: var(--e-global-color-aff6c98) !important;
}
.main03_header.elementor-sticky--effects .nav_container .contact a {
  color: #fff;
}
.main03_header.elementor-sticky--effects .nav_container .language_btn .language_icon, .main03_header.elementor-sticky--effects .nav_container .hamburger_btn {
  filter: brightness(0) invert(1);
}
.main03_header.scroll_on .logo {
  filter: brightness(0) invert(1);
}
.main03_header.scroll_on .nav_container {
  background-color: #fff !important;
}
.main03_header.scroll_on .nav_container .contact a {
  color: var(--e-global-color-aff6c98);
}
.main03_header.scroll_on .nav_container .language_btn .language_icon, .main03_header.scroll_on .nav_container .hamburger_btn {
  filter: grayscale(100%) brightness(0);
}
.main03_header .logo {
  transition: all 0.3s;
}
.main03_header .language_btn .sub-arrow {
  display: none;
}
.main03_header .language_btn .language_icon {
  filter: brightness(0) invert(1);
  width: 1.5rem;
}
.main03_header .language_btn .sub-menu {
  left: 50% !important;
  transform: translateX(-50%);
  min-width: 6rem !important;
  padding: 0.5em 1em;
}
.main03_header .language_btn .sub-menu .elementor-sub-item {
  justify-content: center;
  border: none !important;
}
.main03_header .hamburger_btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
.main03_header .hamburger_btn .bar {
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.main03_header .hamburger_btn .bar:first-child {
  width: 3rem;
}
.main03_header .hamburger_btn .bar:last-child {
  width: 4.5rem;
}

.main03_slide_nav {
  display: none;
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: 1s !important;
}
.main03_slide_nav.on {
  display: flex;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.main03_slide_nav.on .close_btn {
  animation: rotate 1.5s forwards;
  cursor: pointer;
}
.main03_slide_nav .elementor-nav-menu:hover .elementor-item {
  color: var(--e-global-color-8316909) !important;
}
.main03_slide_nav .elementor-nav-menu .menu-item .elementor-item:hover {
  color: #fff !important;
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}
.main03_contact_wapper .slide_in_img {
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: 2s !important;
}
.main03_contact_wapper .slide_in_img.slide_in {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.main03_footer .contact_btn_wrapper {
  transition: 0.3s;
}
.main03_footer .contact_btn_wrapper.up {
  transform: translateY(0);
}
.main03_footer .contact_btn_wrapper.down {
  transform: translateY(100px);
}/*# sourceMappingURL=style_main_03__header_footer.css.map */