@import '../_mixin', '../_variables';

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {background: $grey_02; border-radius: 10px;}

@include pc{
  .main02_section_03_hover{
    .skill_wrapper{
      .title{opacity: 1; transition: .3s;}
      .description{animation: skill_off .3s forwards;}
      &:hover{
        .title:not(.description .title){position:absolute; opacity: 0;}
        .description{animation: skill_on .5s forwards;}
      }
    }
  }
}
@keyframes skill_off {
  0%{transform: translateY(0%); opacity: 1; display: flex;}
  100%{transform: translateY(50%); opacity: 0; display: none;}
}
@keyframes skill_on {
  0%{transform: translateY(50%);}
  100%{transform: translateY(0%); display: flex;}
}